.productForm {
    display: flex;
    flex-direction: column;
    background-color: hsl(240, 73%, 75%);
}

.form-group {
    border: 5px solid black;
margin: 5px;
background-color: aqua;
}

button {
    background-color: aqua;
}
